/*Dropdown*/
.dropbtn {
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: darkgray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 170px;
    overflow: auto;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: white;
}

.dropdown-content a {
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/*End dropdown*/
.tablelist {
    width: 70%;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 5px 5px 5px;
}

.trlist {
    width: 7%;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 16px;
    color: black;
    text-align: center;
}
/*Grid layout*/
.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;


}

.item3 {
    grid-area: add;
}

.item4 {
    grid-area: search;
}

.item5 {
    grid-area: h1;
}

.item6 {
    grid-area: footer;
}

.grid-container {

    display: grid;
    grid-template-areas:
    'menu header header header header header header header'
    'menu add add add add search search search'
    'menu h1 h1 h1 h1 h1 h1 h1'
    'menu footer footer footer footer footer footer footer';
    gap: 5px;
    background-color: #2196F3;
    padding: 2px;

}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 2px 2px;
}

.item2 a {
    padding: 5px 1px 6px 1px;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    color: #2196F3;
    display: block;
}

.item2 a button {
    width: 200%;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    background-color: lightskyblue;
    cursor: pointer;
}

.item2 a button:hover button:focus {
    background-color: dodgerblue;
}

/*End grid layout*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}


/*FormLogin */
.form-popup {

    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

